{% extends '/admin/admin_base.html' %}

{% block title %} Reservation History {% endblock %}

{% block content %}

{% if history %}
  <table>
    <tr>
      <th> ID </th>
      <th> User ID </th>
      <th> Lot ID </th>
      <th> Location </th>
      <th> Spot ID </th>
      <th> Vehicle Number </th>
      <th> Parking Timestamp </th>
      <th> Leaving Timestamp </th>
      <th> Parking Cost </th>
    </tr>
    {% for booking in history %}
    <tr>
      <td> {{ booking.id }} </td>
      <td> {{ booking.user_id }} </td>
      <td> {{ booking.lot_id }} </td>
      <td> {{ booking.location }} </td>
      <td> {{ booking.spot_id }} </td>
      <td> {{ booking.vehicle_num }} </td>
      <td> {{ booking.parking_timestamp }} </td>
      <td> {{ booking.leaving_timestamp }} </td>
      <td> {{ booking.parking_cost }} </td>
    </tr>
    {% endfor %}
  </table>
 
{% else %}
  <p>No reserved history!</p>
{% endif %}

{% endblock %}