{% extends '/admin/admin_base.html' %}

{% block title %} Parking Lots {% endblock %}

{% block content %}

{% if lots %}

  <table>
    <tr>
      <th> Lot ID </th>
      <th> Location </th>
      <th> Price (Per Hour)</th>
      <th> Address </th>
      <th> Pin Code </th>
      <th> Spots </th>
      <th> Actions </th>
    </tr>
    {% for lot in lots %}
    <tr>
      <td> {{ lot.id }} </td>
      <td> {{ lot.location }} </td>
      <td> {{ lot.price }} </td>
      <td> {{ lot.address }} </td>
      <td> {{ lot.pincode }} </td>
      <td> {{ lot.max_spots }} </td>
    </tr>
    {% endfor %}
  </table>
  <br> <br>
  <a href="{{ url_for('main.add_lot') }}">Add more lots</a>

{% else %}
  <p>No Lots found! Create lot <a href="{{ url_for('main.add_lot') }}">here</a> </p>
{% endif %}

{% endblock %}