{% extends '/admin/admin_base.html' %}

{% block title %} Reserved {% endblock %}

{% block content %}

{% if reserved %}
  <table>
    <tr>
      <th> ID </th>
      <th> User ID </th>
      <th> Full Name </th>
      <th> Lot ID </th>
      <th> Spot ID </th>
      <th> Vehicle Number </th>
      <th> Parking Timestamp </th>
    </tr>
    {% for res in reserved if res.leaving_timestamp == None %}
    <tr>
      <td> {{ res.id }} </td>
      <td> {{ res.user_id }} </td>
      <td> {{ res.user.fullname }} </td>
      <td> {{ res.spot.lot_id }}</td>
      <td> {{ res.spot_id }} </td>
      <td> {{ res.vehicle_num }} </td>
      <td> {{ res.parking_timestamp }} </td>
    </tr>
    {% endfor %}
  </table>
 
{% else %}
  <p>No reserved!</p>
{% endif %}

{% endblock %}