<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="center-content">
  <div class="card">
    <h1 class="card-title" style="margin-bottom: 0;">Error!</h1>
    <p>{{ message }}</p>
    <p style="margin-bottom: 0;">
      Login <a href="{{ url_for('main.login') }}" class="rl">here</a>. 
    </p>
    <p>
      Register <a href="{{ url_for('main.register') }}" class="rl">here</a>.
    </p>
  </div>
</body>
</html>