<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <form method="POST" action="{{ url_for('main.login') }}">
    <div>
      <label for="email">Email address</label>
      <input type="text" name="email" placeholder="email" required>
    </div>
    <br>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="password" required>
    </div>
    <br>
    <button type="submit">Login</button> <br> <br>
    <a href="{{ url_for('main.register') }}">register</a>
  </form>
</body>
</html>