{% extends '/user/user_base.html' %}

{% block title %} Booking {% endblock %}

{% block content %}

{% if lots %}

  <table>
    <tr>
      <th> Location </th>
      <th> Price (Per Hour) </th>
      <th> Address </th>
      <th> Pin Code </th>
      <th> Spots </th>
      <th> Availability </th>
      <th> Actions </th>
    </tr>
    {% for lot in lots %}
    <tr>
      <td> {{ lot.location }} </td>
      <td> {{ lot.price }} </td>
      <td> {{ lot.address }} </td>
      <td> {{ lot.pincode }} </td>
      <td> {{ lot.max_spots }} </td>
      <td>
        {% if lot.available %}
          Available
        {% else %}
          Full
        {% endif %}
      </td>
      <td>
        <a href="{{ url_for('main.book', lot_id=lot.id) }}" class="book-btn"> Book </a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% else %}
  <p> No lots available! </p>
{% endif %}

{% endblock %}